@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CSS3";
}
<div>
    <figure>
        <img src="~/images/xmas.jpg" alt="Xmas"/>
        <figcaption class="niconne">Merry Christmas</figcaption>
    </figure>
</div>